
.navBarLeft{
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 10px;
}

.navBarRight{
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    float: right;
}

#logoParent {
    text-align: center;
}

#logoDiv {
    display: inline-block;
    margin-top: 100px;
}

#searchBarDiv {
    text-align: center;
    padding: 10px 10px 15px 10px;
}

input[type=text] {
    width: 350px;
  }

#searchButtons {
    text-align: center;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#signInButton {
    color: #ffff;
    border: 1px solid #4285f4;
    padding: 12px;
    background: #4285f4;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

html,
body {
height: 100%;
position: relative;
}

.main-container {
min-height: 100vh; /* will cover the 100% of viewport */
overflow: hidden;
display: block;
position: relative;
padding-bottom: 100px; /* height of your footer */
}

footer {
position: absolute;
bottom: 0;
width: 100%;
font-family: arial, sans-serif;
font-size: 13px;
border-top: 1px solid #c6c6c6;
background: #f2f2f2;
padding-bottom: 10px;
}

.footerLeft {
    color: #5f6368;
    padding: 5px;
    margin: 5px;
}

.footerRight {
    float: right;
    color: #5f6368;
    padding: 5px;
    margin: 5px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:active {
    text-decoration: underline;
  }
  